# Ignore node_modules since dependencies are installed inside Docker
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore development configuration files
.DS_Store
.env.local
.env.development
.env.test
.vscode
.idea
*.swp
*.lock

# Ignore build and cache directories
build
.cache
dist

# Ignore Git-related files and version control
.git
.gitignore

# Ignore log files
logs
*.log
